.b-father__characters {
  // height: 400px;
  // width: 320px;
  // position: relative;
  display: flex;
  // flex-wrap: wrap;
  overflow: hidden;
  align-content: flex-start;
}

.b-character__card {
    display: flex;
    align-content: center;
    overflow: hidden;
    cursor: pointer;
    flex-direction: column;
}

.b-character__img {
    height: 15vh;
    min-height: 30vh;
    min-width: 25vh;
}

.b-character-name {
  padding-bottom: 40px;
  position: absolute;
}

.b-father__characters:hover {
  .b-character-container {
    visibility: visible;
    background-color: #0009;
  }
}

.b-character-container {
  // position: absolute;
  width: 100%;
  // height: 60px;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: GoT;
  visibility: hidden;
}
.b-character-name {
  text-align: center;
  background-color: red($color: #000000);
}
