.c-chronology {
    padding: 19px 85px 60px 111px;
    background-color: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 74vh;
}