.lengNav{
    width: 100%;
    height: 10%;  
    background-color:transparent;
    position: absolute;
    top: 50;
    left:0;
    z-index:3;

    &__link{
        color:rgb(126, 126, 126);
        z-index:99;
    }   

   
}

.manofija{
    
    position: fixed;
    height: 56px;
    width: 56px;
    box-shadow: 0 0 8px 4px rgb(0 0 0 / 50%);
    right: 12px;
    bottom: 12px;
    border: none;
    background-color: $bg-color-fondo;
    border-radius: 10px;

    &-dentro{
        text-align: center;
        font-size: 40px;
    }

}