.b-house__card{
    cursor: pointer;
    height: 450px;
    width: 320px;
    
}

.b-house__name{
 color: #fff;
 
}

.b-house__name{
    font-weight: 300;
}


.b-house__image{
    // object-fit: contain;
    height: 20vh;
    // width: 310px;
}