@font-face {
  font-family: 'JuegoTronos';
  src: url('./assets/Game\ of\ Thrones.ttf');
}

.home{
  background-image: url(./assets/BackHomeImg.png);
  min-height: 100vh;
  color: white;
  background-repeat: no-repeat;
  min-width: 100vh;
  background-position: center;
  background-size: 100% 100%;
}

.others{
  background-color: black;
  min-height: 100vh;
  color: white;
}