.houses-gallery__container{
    font-family: GoT;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    gap: 60px; 
    padding: 0 7%;
    justify-content: center;
    
    }


.div-houses{
    height: 85vh;
}